MY_DOMAIN=200a.co.uk
DEFAULT_NETWORK=traefik_net

GITLAB_HOSTNAME=gitlab.${MY_DOMAIN}
GITLAB_PORT=80
REGISTRY_HOSTNAME=registry.${MY_DOMAIN}
REGISTRY_PORT=80
MATTERMOST_HOSTNAME=mattermost.${MY_DOMAIN}
MATTERMOST_PORT=80

TIMEZONE=Europe/London

SMTP_ADDRESS=noreply@gitlab.${MY_DOMAIN}
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DOMAIN=gitlab.${MY_DOMAIN}

MATTERMOST_GITLAB_ID=
MATTERMOST_GITLAB_SECRET=
