MY_DOMAIN=200a.co.uk
DEFAULT_NETWORK=traefik_net
DOCKER_BASEDIR=/srv/lab/docker
GUACD_HOSTNAME=guacd
MYSQL_HOSTNAME=192.168.200.254
MYSQL_PORT=3306
MYSQL_DATABASE=guacamole
MYSQL_USER=<mysql_username>
MYSQL_PASSWORD=<mysql_password>
